<a href="https://colab.research.google.com/github/yuliethbernal03/almacenCamisas/blob/main/TrabajoClase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Realizar 2 ejercicios por cada **Tipo de dato** visto en clase.

**Tipo Enteros**
_____
**Int**

Suma de dos numeros

In [3]:
n1 = int(input("Ingrese el primer numero: "))
n2 = int(input("Ingrese el segundo numero: "))
print("la suma es: ",n1 + n2)

Ingrese el primer numero: 2
Ingrese el segundo numero: 4
la suma es:  6

Multiplicacion de dos numeros

In [6]:
n1 = int(input("Ingrese el primer numero: "))
n2 = int(input("Ingrese el segundo numero:"))
print("El resultado de la multiplicacion entre los dos numeros es: ",n1 * n2)

Ingrese el primer numero: 5
Ingrese el segundo numero:5
El resultado de la multiplicacion entre los dos numeros es:  25

**Float**

Calculo de la media de dos numeros

In [8]:
n1 = float(input("Ingrese el primer numero:" )) 
n2 = float(input("Ingrese el segundo numero: "))
print("la media de lops dos numeros es: ",(n1 + n2) / 2)

Ingrese el primer numero:2.5
Ingrese el segundo numero: 2.8
la media de lops dos numeros es:  2.65

Calculo de indice de masa corporal

In [14]:
peso = float(input("Ingrese su peso: "))
altura = float(input("Ingrese su altura: "))
indice = peso / altura * 2
print("Su indice de  masa corporal es: ",indice)

Ingrese su peso: 80.5
Ingrese su altura: 1.63
Su indice de  masa corporal es:  98.77300613496934

**Tipo Cadena**

Saludo

In [17]:
var1 = "Hola"
var2 = input("Ingrese su nombre: ")
print(var1 +" "+ var2)

Ingrese su nombre: Yulieth
Hola Yulieth

Formas de escribir el nombre

In [19]:
nombre = input("Ingrese su nombre: ")
print(nombre.lower())
print(nombre.upper())
print(nombre.title())

Ingrese su nombre: yUliEth bERnal
yulieth bernal
YULIETH BERNAL
Yulieth Bernal

**Tipo Booleano**

In [20]:
6==6

True